.navigation__button{
    display: none;
}
.search__container{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.button_container{
    display: flex;
    
}

.input_buscar{
    display: flex;
    flex-direction: row;
}

.parte_inferior{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.div_principal{
    width: 100vw;
    height: 50%;
}

.div_buscardor_cel_faren{
    display: flex;
    flex-direction: row;
    gap: 30rem;
}