p{
    color: rgb(98, 84, 228);
    font-weight: bolder;
}



.header{
    background-color: aquamarine;
    width: 100%;
    height: 30%;

}

    .header_list{
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

.center{
    background-color: bisque;
    width: 100%;
    height: 70%;
}
        .form{
            display: flex;
            flex-direction: column;
            width: 30%;
            gap: 1rem;
        }

.footer{
    background-color: chartreuse;
    width: 100%;
    height: 30%;
}
