
.header_container{
    background: rgb(112, 112, 126);
   
    justify-content: space-between;
    height: 60px; 
}

    .logo{
        width: 50px;
        height: 50px;
        display: flex;
        margin-top: 5px;
        margin-left: 5px;
    }

    .links{
        list-style:none;
        display: flex;

    }
        .li1{
            width: 100px;
        }

        .li2{
            width: 100px;
        }

        .li3{
            width: 100px;
        }



.nav_container{
    background: blueviolet;
    height: 500px;
    width: 20%;
}

.main_container{
    background: cadetblue;
    height: 500px;
    width: 80%;

}

.footer_container{
    background: coral;

}

.div_1{
    display: flex;
    flex-direction: row;
    
    
}

