p{
    color: rgb(98, 84, 228);
    font-weight: bolder;
}

.block{
    width: 100px;
    height: 100px;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: rgb(0, 255, 42);
}

